$ipadvs:768px;
$ipadhs:992px;
@mixin ipadvs {
    @media(min-width:($ipadvs)) {
        @content;
      }
}
@mixin ipadhs {
    @media(min-width:($ipadhs)) {
        @content;
      }
}
body{
    color: #212259;
}
.container{
    @include ipadhs(){
    max-width: 960px;
    }
    header{
        @include ipadhs(){
            display: flex;
            justify-content: space-between;
        }
        font-family: 'Lato', sans-serif;
        h1{
            font-size: 40px;
        }
        nav{
           
            ul{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                @include ipadhs(){
                    display: inline-flex;
                    grid-template-columns: none;
                   
                }
                li{text-align: center;
                    padding: 16px;
                    border: solid 1px #e3e3e3;
                    @include ipadhs{
                        border: none;
                    }
                    a{
                        color: #212259;
                        &:hover{
                            text-decoration: underline ;
                            color: #0056b3;
                        }
                    }
                }
            }
        }
    }
    section{
        .title{
            font-size: 32px;
            margin:0 0 40px 0;
            font-family: 'Lato', sans-serif;
            text-align: center;
        }
        .aboutarea{
            margin-bottom: 40px;
            @include ipadhs(){
                display: flex;
                align-items: center;
            }
            img{
                width: 100%;
                @include ipadhs(){
                    width: 50%;
                }
            }
            .description{
                @include ipadhs(){
                    width: 50%;
                }
                .description-text{
                   
                }
                .description-icon{
                    display: flex;
                    justify-content: space-around;
                    .fa-twitter{
                        width: 50px;
                        height: 50px;
                        color: #4AB3F4;
                    }
                    .fa-youtube{
                        width: 50px;
                        height: 50px;
                        color: #E14550;
                    }
                    .fa-rss{
                        width: 50px;
                        height: 50px;
                        color: #323232;
                    }

                }
            }
            
        }
        .service-area{
            @include ipadvs(){
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 0 30px ;
            }
            .service-item{
                h3{
                    margin: 0 0 40px 0;
                    font-family:'Lato', sans-serif;
                    text-align: center;
                }
                .service-icon{
                    margin: 0 0 40px 0;
                    text-align: center;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .fa-code{
                        width: 62.5px;
                        height: 50px;
                        color: #777474;
                    }
                    .fa-pencil-alt{
                        width: 50px;
                        height: 50px;
                        color: #777474;

                    }
                    .fa-video{
                        width: 56.25px;
                        height: 50px;
                        color: #777474;

                    }
                }
            }
        }
    .works-area{
        @include ipadvs(){
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 0 30px ;
        }
        .work-item{
        img{
            margin: 0 0 40px 0;
            width: 100%;
            border: solid 1px #e2e2e2;
        }
    }
    }
    .contact-form{
        margin: 0 0 40px 0;
        @include ipadhs(){
            width: 400px;
            margin: 0 auto 40px auto;
        }
        form{
            .form-content{
                input{
                    width: 100%;
                    height: 28px;
                    border: solid 1px #ececec;
                }
                textarea{
                    width: 100%;
                    border: solid 1px #ececec;
                }
            }
            button{
                width: 250px;
                background-color: #535252;
                color:#fff;
                margin: 0 auto;
                text-align: center;
                display: block;
            }
        }
    }
    }

}
footer{
    font-family:              'Lato', sans-serif;
    
}